@import "tailwindcss";

:root {
  --app-header-height: 72px;
  --app-sidebar-width: 0px;
}

@media (min-width: 1024px) {
  :root {
    --app-sidebar-width: 20rem;
  }
}

body {
  @apply m-0;
  padding-left: var(--app-sidebar-width);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
